<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts-3d.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script type="text/javascript" src="config.js"></script> -->
  </head>
  <body style="background-color:#000000;">
    <div class="main1">
      <div class="title">
        <h1>Smart Factory</h1>
      </div>
      <div class="data">
        <p class="data-title">機房環境</p>
        <div id="pie" style="height: 400px"></div>
      </div>
      <div class="immediate">
        <p class="data-title">電流統計</p>
      </div>
    </div>
    <div class="main2">
      <div class="message">
        <h1>123456</h1>
      </div>
      <div class="history">
        <h1>123456</h1>
      </div>
    </div>
    <script language="JavaScript" src="/highcharts/pie-3D.js"></script>
  </body>
</html>
