<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts-3d.js"></script>
    <link rel="stylesheet" type="text/css" href="temperature.css">
    <!-- <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script type="text/javascript" src="config.js"></script> -->
    <script>
    function a(){
      var styleElem = document.head.appendChild(document.createElement("style"));
      styleElem.innerHTML = "#battery-ups1:before {height: 100%;}";
      console.log(123);
    }
    </script>
  </head>
  <body style="background-color:#000000;">
    <div class="main1">
      <div class="factory-info">
        <div class="title">
          <p class="title">Smart Factory</p>
        </div>
        <div class="data">
          <p class="data-title">機房不斷電系統狀態</p>
          <!-- <div id="container" style="height: 400px"></div> -->
          <div class="battery1-info">
            <div class="battery1">
              <div id="battery1-ups"></div>
              <div class="battery-name">
                <p>UPS1<br>充電中</p>
              </div>
            </div>
            <div class="battery-data">
              <div class="data-left">
                <p class="battery-value">輸入電壓:</p>
                <p class="battery-value">輸出電壓:</p>
                <p class="battery-value">輸出電流:</p>
                <p class="battery-value">輸出狀態:</p>
                <p class="battery-value">電池健康狀態:</p>
                <p class="battery-value">ups內部溫度:</p>
              </div>
              <div class="data-right">
                <p class="battery-value">輸入頻率:</p>
                <p class="battery-value">輸出頻率:</p>
                <p class="battery-value">輸出瓦特:</p>
                <p class="battery-value">輸出負載比:</p>
                <p class="battery-value">充電模式:</p>
                <p class="battery-value">剩餘輸出時間:</p>
              </div>
            </div>
          </div>
          <div class="battery2-info">
            <div class="battery2">
              <div id="battery2-ups"></div>
              <div class="battery-name">
                <p>UPS2<br>充電中</p>
              </div>
            </div>
            <div class="battery-data">
              <div class="data-left">
                <p class="battery-value">輸入電壓:</p>
                <p class="battery-value">輸出電壓:</p>
                <p class="battery-value">輸出電流:</p>
                <p class="battery-value">輸出狀態:</p>
                <p class="battery-value">電池健康狀態:</p>
                <p class="battery-value">ups內部溫度:</p>
              </div>
              <div class="data-right">
                <p class="battery-value">輸入頻率:</p>
                <p class="battery-value">輸出頻率:</p>
                <p class="battery-value">輸出瓦特:</p>
                <p class="battery-value">輸出負載比:</p>
                <p class="battery-value">充電模式:</p>
                <p class="battery-value">剩餘輸出時間:</p>
              </div>
            </div>
          </div>
          <!-- <button type="button" onclick="a()">Click Me!</button> -->
        </div>
      </div>
      <div class="immediate">
        <p class="data-title">電流統計</p>
        <div id="air-conditioner" class="current"></div>
        <div id="ups1" class="current"></div>
        <div id="ups2" class="current"></div>
      </div>
    </div>
    <div class="main2">
      <div class="message">
        <p class="data-title">機房溫溼度</p>
        <div id="centered">
          <!--add this line to the html where you want the thermometer-->
          <div id="goal-thermometer">
            <div id="therm-numbers">
        		  </div>
        		    <div id="therm-graphics">
        			       <img id="therm-top" src="glassTop.png"></img>
        			       <img id="therm-body-bg" src="glassBody.png"></img>
        			       <img id="therm-body-mercury" src="redVertical.png"></img>
        			       <div id="therm-body-fore"></div>
        			       <img id="therm-bottom" src="glassBottom.png"></img>
        			       <div id="therm-tooltip">
        				           <img class="tip-left" src="tooltipPoint.png"></img>
        				           <div class="tip-middle"><p>0°C</p></div>
        				           <img class="tip-right" src="tooltipButt.png"></img>
        			       </div>
        		    </div>
          </div>
        </div>
        <div id="humidity"></div>
      </div>
      <div class="history">
        <h1>123456</h1>
      </div>
    </div>
    <script language="JavaScript" src="/highcharts/air-conditioner.js"></script>
    <script language="JavaScript" src="/highcharts/ups1.js"></script>
    <script language="JavaScript" src="/highcharts/ups2.js"></script>
    <script language="JavaScript" src="/highcharts/pie.js"></script>
    <script type="text/javascript" src="/temperature/temperature.js"></script>
  </body>
</html>
