.color1{
  background-color:yellow;
  height:300px;
}
.color2{
  background-color:blue;
  height:300px;
}
.factory-info {
  position: absolute;
  top:10px;
  left: 10px;
  width: 40%;
  height: 75%;
}
div.title {
  position: absolute;
  left: 10px;
}
p.title {
  font-size: 60px;
  color: rgb(255, 255, 255);
}
.data {
  position: absolute;
  top:74px;
  width: 100%;
  bottom: 0px;
  border-radius:10px;
  background-color: rgba(43, 40, 40, 0.71);
  /* border: 6px solid rgba(43, 40, 40, 0.71); */
}
.data-title {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.battery1-info {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 45%;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #cdcdcd;
}
.battery1 {
  position: absolute;
  top: 30%;
  width: 60px;
  height: 131px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 10px;
  /* border: 3px solid #cdcdcd; */
}
#battery1-ups {
  position: absolute;
  width: 60px;
  height: 80px;
  border-radius: 5px 5px 5px 5px;
  border: 3px solid #cdcdcd;
}
#battery1-ups::before{
	content: '';
	position: absolute;
  bottom:0px;
	width: 100%;
	height: 10%;
  background-color: #cdcdcd;
	border: 3px solid #cdcdcd;
}
#battery1-ups::after{
	position: absolute;
	top: -10px;
	left: 30%;
	width: 40%;
	height: 10px;
  background-color: #cdcdcd;
	border: 3px solid #cdcdcd;
  content: '';
}
.battery2-info {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 45%;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #cdcdcd;
}
.battery2 {
  position: absolute;
  top: 30%;
  width: 60px;
  height: 131px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 10px;
  /* border: 3px solid #cdcdcd; */
}
#battery2-ups {
  position: absolute;
  width: 60px;
  height: 80px;
  border-radius: 5px 5px 5px 5px;
  border: 3px solid #cdcdcd;
}
#battery2-ups::before{
	content: '';
	position: absolute;
  bottom:0px;
	width: 100%;
	height: 10%;
  background-color: #cdcdcd;
	border: 3px solid #cdcdcd;
}
#battery2-ups::after{
	position: absolute;
	top: -10px;
	left: 30%;
	width: 40%;
	height: 10px;
  background-color: #cdcdcd;
	border: 3px solid #cdcdcd;
  content: '';
}
.battery-name {
  position: absolute;
  width: 100%;
  color:#ffffff;
  bottom:0px;
}
.battery-name p {
  text-align:center;
}
.battery-data {
  position: relative;
  width: auto;
  height: 100%;
  margin-left: 76px;
  margin-right:0px;
  border-left: 1px solid #cdcdcd;
}
.data-left {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 0px;
  /* border: 3px solid #cdcdcd; */
}
.data-right {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  /* border: 3px solid #cdcdcd; */
}
.battery-value {
  font-size: 14px;
  color: rgb(255, 255, 255);
}
div.immediate {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 57%;
  height: 75%;
  border-radius:10px;
  background-color: rgba(43, 40, 40, 0.71);
}
div.message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 48.5%;
  height: 20%;
  border-radius:10px;
  background-color: rgba(43, 40, 40, 0.71);
}
.current {
  width:60%;
  height: 30%;
  margin-left: 40%;
}
#pie {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 40%;
  height: 90%;
  border-radius:10px;
  /* border: 3px solid #cdcdcd; */
}
#humidity {
  position: absolute;
  top: 60px;
  right: 30%;
  width: 60px;
  height: 60px;
  border-radius:250px 0 170px 80px / 170px 0 250px 80px;
  background: -webkit-linear-gradient(left top,rgb(17, 223, 236),rgb(6, 16, 246));
  background: -o-linear-gradient(bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
  background: -moz-linear-gradient(bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
  background: linear-gradient(to bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
}
#humidity::before {
  content: '';
  position: absolute;
  right: 30px;
  top: -30px;
  width: 30px;
  height: 30px;
  border-radius:250px 0 170px 80px / 170px 0 250px 80px;
  background: -webkit-linear-gradient(left top,rgb(17, 223, 236),rgb(6, 16, 246));
  background: -o-linear-gradient(bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
  background: -moz-linear-gradient(bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
  background: linear-gradient(to bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
}
#humidity::after {
  content: '';
  position: absolute;
  left: 73px;
  top: -31px;
  width: 40px;
  height: 40px;
  border-radius:250px 0 170px 80px / 170px 0 250px 80px;
  background: -webkit-linear-gradient(left top,rgb(17, 223, 236),rgb(6, 16, 246));
  background: -o-linear-gradient(bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
  background: -moz-linear-gradient(bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
  background: linear-gradient(to bottom right,rgb(17, 223, 236),rgb(6, 16, 246)););
}
div.history {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 48.5%;
  height: 20%;
  border-radius:10px;
  background-color: rgba(43, 40, 40, 0.71);
}
